.chat {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}
  
.chat .top {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
}

.chat .search-bar {
    align-items: center;
    background-color: var(--black-2);
    border-radius: 40px;
    display: flex;
    flex: 0 0 auto;
    padding: 10px 10px;
    position: relative;
    width: 650px;
    height: auto;
}
  
.chat .search-bar-content {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: center;
    position: relative;
}
  
.chat .text-wrapper-2 {
    color: var(--white-64);
    font-family: var(--text-1-font-family);
    font-size: var(--text-1-font-size);
    font-style: var(--text-1-font-style);
    font-weight: var(--text-1-font-weight);
    letter-spacing: var(--text-1-letter-spacing);
    line-height: var(--text-1-line-height);
    position: relative;
    flex: 1;
    border: none;
    outline: none;
    background: none;
    resize: none;
    overflow: hidden;
    padding: 0px;
    box-sizing: border-box;
    display: block;
    white-space: pre-wrap;
    margin-left: 10px;
}
  
.chat .voice-button {
    background: var(--white-48);
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    margin-left: 0px;
    flex-shrink: 0;
}
  
.chat .send-button {
    background: var(--white-48);
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    margin-left: 0px;
    flex-shrink: 0;
}

.chat .voice-button:hover {
    background-color: rgba(184, 203, 238, 0.688);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.chat .send-button:hover {
    background-color: rgba(184, 203, 238, 0.688);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}
  
.chat .voice-button:active {
    background-color: rgba(136, 123, 244, 0.4);
}

.chat .send-button:active {
    background-color: rgba(136, 123, 244, 0.4);
}

.chat .outline-arrow-circle-up {
    height: 24px;
    width: 24px;
}

.chat .main-content {
    display: flex;
    width: 100%;
    overflow: hidden;;
    flex-grow: 1;
    max-height: 80%;
}
  
.chat .left-content {
    width: 30%;
    display: flex;
    background-color: none;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    height: 100%;
}

.chat .chat-content {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    padding: 10px;
    position: relative;
    width: 40%;
    height: 100%;
}

.chat .right-content {
    width: 30%;
    display: flex; 
    align-items: center;
    background-color: none;
    height: 100%;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 32px;
    align-self: stretch;
    background-color:var(--white-12);
}

.chat .chat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px; /* to make space for fixed search-bar */
    overflow-y: auto;
    flex-grow: 1
}

.chat .chat-input .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.chat .chat-input .input-container input {
    width: 100%;
}

.chat .chat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px; /* to make space for fixed search-bar */
    overflow-y: auto;
    flex-grow: 1
}

.chat .messages-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px; /* to make space for fixed search-bar */
}

.chat .chat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px; /* to make space for fixed search-bar */
    overflow-y: auto;
    flex-grow: 1
}

.chat .messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px; /* to make space for fixed search-bar */
    overflow-y: auto;
    flex-grow: 1;
}

.chat .messages-content {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: relative;
}

.chat .messages-container::-webkit-scrollbar {
    width: 12px;
    
}
/* 轨道 */
.chat .messages-container::-webkit-scrollbar-track {
    background: var(--white-12);
    border-radius: 5px;
}
/* 滑块 */
.chat .messages-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 /*悬停  */
.chat .messages-container::-webkit-scrollbar-thumb:hover {
    background: var(--white-48);
}
  
.chat .message {
    width: 100%;
    max-width: 700px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
}

.chat .icon-wrapper {
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    border-color:rgb(24, 237, 237);
    border-width: 1px;
    border-style: solid;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat .message.user {
    max-width: 500px;
    background-color: var(--white-12);
    color: white;
    align-self: flex-end;
    font-family: var(--text-1-font-family);
    font-size: var(--text-1-font-size);
    font-style: var(--text-1-font-style);
    font-weight: var(--text-1-font-weight);
    letter-spacing: var(--text-1-letter-spacing);
    line-height: 1.2;
    text-align: justify;
}
  
.chat .message.bot {
    background-color: none;
    color: white;
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.7;
    word-spacing: 0.9px;
    max-width: 100%;
}